#root{
  height: 100%;
}
#root>div{
  height: 100%;
}

.layout {
  width: 100%;
  min-width: 900px;
  height: 100%;
}

.header {
  height: 64px;
  padding: 0 10px;
  line-height: 64px;
  background: #001529;
}
.header .logo {
  width: 180px;
  margin-right: 10px;
  float: left;
}
.header .logo img {
  width: 100%;
}
.header .adminInfo {
  float: right;
  height: 64px;
  line-height: 64px;
  background: #001529;
  color: #fff;
  border: 0;
}


.connect{
  
}